Architecture: iphoneos-arm
Author:  NsBm0d 
Depiction: https://github.com/NsBm0d/NsBm0d.github.io
Description: New List updated
Maintainer:  NsBm0d  <NsBm0d@LIVE.com>
Name: AiconPkg
Package: com.NsBm0d.AiconPkg
Section: Tweaks
Version: 1.0.1
